<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-6">
      <h4>Hello <%= @current_user.name %></h4>
    </div>
    <div class="col-xs-6 text-right">
      <h4>Balance: <span class="user-balance"><%= sprintf('%.2f', @current_user.balance) %></span></h4>
    </div>

  </div>

</div>